<h2>New Child</h2>

<div>
  <label id="name">Name: </label>
  <input id="name" type="text"/>
</div>
<div>
  <label id="age">Age: </label>
  <input id="age" type="number"/>
</div>
<div>
  <label id="allergies">Allergies: </label>
  <input id="allergies" type="text"/>
</div>
<div>
  <label id="bedtime">Bedtime: </label>
  <input id="bedtime" type="time"/>
</div>
<div>
  <label id="favFood">Favorite Food: </label>
  <input id="favFood" type="text"/>
</div>

<button type="button" class="add-button" (click)="add(child)">Add Child</button>
<button type="button" (click)="goBack()">Go Back</button>
