


h2 {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 30px
}

ul {
    padding: 0;
}

li {
    list-style: none;
        text-align: center;
        padding: 10px 0;
        border-radius: 10px;
        transition: all 200ms ease-in-out;
        max-width: 400px;
        margin: 0 auto;
        
}

button {
    display: inline;
        margin: 20px auto;
        border: 1px solid #5c5470;
        background:#5c5470;
        color: #fff;
        font-size: 16px;
        line-height: 22px;
        padding: 16px 24px;
        border-radius: 30px;
        transition: all 200ms ease;
        box-shadow: rgba(37, 39, 89, 0.08) 0px 8px 8px 0;
        cursor: pointer;
}

button:hover {
    background: white;
        color:#407088;
        border: 1px solid #407088;
}

.new-child {
    display: block;
    text-align: center;
    background-color: black;
    border-radius: 0;
}

.delete {
    margin: 12px;
    padding: 4px 12px;
    border-radius: 30px;
    background-color: 407088;
    line-height: 22px;
}

.child-name {
    background-color: #5c5470;
}

p {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
}
