h2 {
    text-align: center;
}



.details {
    text-align: center;
    padding: 10px;
}

input {
    padding: 3px;
    margin: 10px;
}

button {
    display: inline;
        margin: 20px;
        border: 1px solid #407088;
        background:#407088;
        color: #fff;
        font-size: 16px;
        line-height: 22px;
        padding: 16px 24px;
        border-radius: 30px;
        transition: all 200ms ease;
        box-shadow: rgba(37, 39, 89, 0.08) 0px 8px 8px 0;
        cursor: pointer;
}

button:hover {
    background: white;
        color:#407088;
        border: 1px solid #407088;
}
